* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #772727;
    padding: 15px;
}

.footer {
    background-color: #772727;
    padding: 8px;
    font-size: 18px;
}

.logo {
    height: 100px;
    display:block;
    margin: auto;

}

.buttonPrincipal {
    background-color:#BC906F;
    padding: 10px;
    border-radius: 8px;
    border-color: #BC906F;
    border-width: 1px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonPrincipal:hover{
    cursor:pointer;
    transform: scale(1.1);
    background-color: white;
    color: #BC906F;
    border-color: #BC906F;
    font-weight: bold;
}

.buttonSecundario {
    background-color: white;
    border-style: solid;
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
    color:#BC906F;
    border-color: #BC906F;
    border-width: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonSecundario:hover{
    cursor:pointer;
    transform: scale(1.1);
    background-color: #BC906F;
    color: white;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(255, 255, 255);
}

.mainContainer> main {
    height: 100%;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(9, 9, 9);
}
  
.mainContainer> footer {
    background-color:#7e4d19;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif ;
    color: aliceblue;
}

.contenedorDivs{
    display: grid;
    grid-column: auto;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem 15rem 25rem;
}

.contenedorDivsFooter{
    display: grid;
    grid-column: auto;
    grid-template-columns: 40% 20% 5% 5%;
    
}
.imaMain{
    width: 40%;
}
.centrarContBloque{
    display: grid;
    justify-items: center;
    align-items: center;
}

.ubicacionIzquierda{
    justify-items: left;
    align-items: left;
}

.sidebar ul li {
    color:white;
    text-align: center;
    border-bottom: 1em solid rgb(255, 252, 252) ;
}

.mainLogin {
    padding-top: 30px;
}

.Carousel img{
    height: 100%;
    width: 100%;
}

.Carousel{
    height: 600px;
    width: 600px;
    margin: auto;
}